<div class="row" *ngIf="isLoggedIn$ | async">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <form class="card comment-form">
        <div class="card-block">
          <textarea class="form-control" placeholder="Write a comment..." rows="3" 
          [(ngModel)]="comment" name="comment"></textarea>
        </div>
        <div class="card-footer">
          <img [src]="(currentUser$ | async)?.image" class="comment-author-img" />
          <button class="btn btn-sm btn-primary" (click)="postComment()">Post Comment</button>
        </div>
      </form>
    </div>
</div>
<p *ngIf="!(isLoggedIn$ | async)">
    <a [routerLink]="['/login']">
        Sign In
    </a>
    or
    <a [routerLink]="['/register']">
        Sign Up
    </a>
    to add comments on this article.
</p>