<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2">
    @if (isLoggedIn$ | async) {
      <form class="card comment-form">
        <div class="card-block">
          <textarea class="form-control" placeholder="Write a comment..." rows="3"
          [(ngModel)]="comment" name="comment"></textarea>
        </div>
        <div class="card-footer">
          <img [src]="(currentUser$ | async)?.image" class="comment-author-img" />
          <button class="btn btn-sm btn-primary" (click)="postComment()">Post Comment</button>
        </div>
      </form>
    }
    @if (!(isLoggedIn$ | async)) {
      <p>
        <a [routerLink]="['/login']">
          Sign In
        </a>
        or
        <a [routerLink]="['/register']">
          Sign Up
        </a>
        to add comments on this article.
      </p>
    }
  </div>
</div>
@for (comment of comments$ | async; track comment) {
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <div class="card">
        <div class="card-block">
          <p class="card-text">
            {{ comment.body }}
          </p>
        </div>
        <div class="card-footer">
          <a [routerLink]="['/profiles', comment.author.username]" class="comment-author">
            <img [src]="comment.author.image" class="comment-author-img" />
          </a>
          &nbsp;
          <a [routerLink]="['/profiles', comment.author.username]" class="comment-author">
            {{ comment.author.username }}
          </a>
          <span class="date-posted">{{ comment.createdAt}}</span>
          <span class="mod-options">
            <i class="ion-trash-a" (click)="deleteComment(comment.id)"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
}